<div
  class="drop-zone"
  role="button"
  tabindex="0"
  [class.dragging]="isDragging()"
  [class.disabled]="disabled()"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
  (click)="fileInput.click()"
>
  <div class="content">
    <p class="drop-text">
      <ng-content select="[drop-text]"></ng-content>
    </p>

    <input
      type="file"
      #fileInput
      hidden
      accept="image/*"
      (change)="onFileChange($event)"
      [disabled]="disabled()"
    >

    <button
      type="button"
      mat-flat-button
      class="upload-btn"
      [disabled]="disabled()"
      (click)="$event.stopPropagation(); fileInput.click()"
    >
      <span>
        обрати зображення
        <mat-icon>file_download</mat-icon>
      </span>
    </button>
  </div>
</div>
