<mat-toolbar>
  <a routerLink="/" class="brand">
    <svg class="brand-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 140 140" preserveAspectRatio="none">
      <path class="logo-main" stroke-dasharray="null" stroke-width="32" stroke="#228b22" fill="none" d="m15,15l110,0l0,110l-40,0c-10,-47.5 -21,-62.5 -70,-70z"></path>
      <rect stroke-dasharray="null" stroke-width="0" fill="#000" height="52" width="52" y="88" x="0"></rect>
    </svg>

    <span>{{ appName }}</span>
  </a>

  <a class="banner-create-btn" mat-button routerLink="banners/create">
    <mat-icon>add</mat-icon>
    <span class="banner-create-btn__label">Create Banner</span>
  </a>
</mat-toolbar>

<main class="app-content">
  <router-outlet></router-outlet>
</main>

<footer class="app-footer">
  <a>{{ appName }}</a>
  <span>{{ year }}</span>
</footer>
