<div class="banners">
  @for (banner of banners(); track banner.id) {
    <div class="banner-item">
      <div class="banner-title">
        <span [matTooltip]="banner.title" [matTooltipPosition]="'above'">{{banner.title}}</span>
      </div>
      <div class="banner-actions">
        <a mat-icon-button [routerLink]="['/banners', banner.id]">
          <mat-icon>edit</mat-icon>
        </a>
        <button mat-icon-button (click)="deleteBanner(banner.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="banner-image">
        <img [src]="banner.image" alt="Banner Image" class="banner-image">
      </div>
    </div>
  }


</div>
